{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Create protofilo</title>
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/survey/survey.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="home">Robo Adviser</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="home">Home</a></li>
          <li><a class="nav-link scrollto" href="create_protfolio">Create Protfolio</a></li>
          <li><a class="nav-link scrollto" href="protfolio_list">{{user.username}} Protfolios</a></li>
          <li><a class="nav-link scrollto" href="logout">Log Out</a></li>
          <li><a class="nav-link scrollto active" href="algotrade">AlgoTrade</a></li>
          {% if user.username == "admin" %}
          <li><a class="nav-link scrollto" href="train_model">Train Model</a></li>
          {% endif %}
        </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!--survey start-->
  <br><br> 
  <div id="wrapper">
    <br>
    <h1>AlgoTrade</h1>
    <form method="POST" action="algotrade">
      {% csrf_token %}
      <br><br>
      <!--select index-->
      <h2>Select Index</h2>
      <select name="index">
        {% for index in algotrade_indices %}
        <option value={{index.id}}>{{index.symbol}}</option>
        {% endfor %}        
      </select>
      <!--select type-->
      <h2>Select Type</h2>
      <select name="type">
        {% for type in algotrade_types %}
        <option value={{type.id}}>{{type.name}}</option>
        {% endfor %}        
      </select>
      <!-- submit-->
      <br>
      <button type="submit" id="submit" onclick="tabulateAnswers()">Get Price</button>
    </form>
      <!--result-->
    {% if cur_price %}
      <h6 style="color:black;">Machine Learning Type : {{type}}</h6>
      <h6 style="color:black;">Index Symbol : {{symbol}}</h6>
      <h6 style="color:black;">Current Price : {{cur_price}}</h6>
      {% if exp_price > cur_price %}
      <h6 style="color:green;">Expected Price : {{exp_price}}</h6>
      {% else %}
      <h6 style="color:red;">Expected Price : {{exp_price}}</h6>
      {% endif %}
    {% endif %}
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/survey/survey.js' %}"></script>

</body>
</html>