{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Create protofilo</title>
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/survey/survey.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="home">Robo Adviser</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="home">Home</a></li>
          <li><a class="nav-link scrollto active" href="create_protfolio">Create Protfolio</a></li>
          <li><a class="nav-link scrollto" href="protfolio_list">{{user.username}} Protfolios</a></li>
          <li><a class="nav-link scrollto" href="algotrade">AlgoTrade</a></li>
          <li><a class="nav-link scrollto" href="logout">Log Out</a></li>
          {% if user.username == "admin" %}
          <li><a class="nav-link scrollto" href="train_model">Train Model</a></li>
          {% endif %}
        </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!--survey start-->
  <br><br> 
  <div id="wrapper">
    <br>
    <h1>Create Protofilo</h1>
    <form method="POST" action="create_protfolio">
      {% csrf_token %}
      <!--protofilo name-->
      <h2>Protofilo Name</h2>
      <input type="text" name="name" required>
      {% for message in messages %}
      <h6 style="color:Tomato;">{{message}}</h6>
      {% endfor %}
      <br><br>
      <!--select algorithm-->
      <h2>Select algorithm</h2>
      <select name="algorithm">
        {% for algorithm in algorithms %}
        <option value={{algorithm.id}}>{{algorithm.name}}</option>
        {% endfor %}
      </select>
      <br><br>
      <!-- Questions-->
      {% for question in questions %}
      <h3>{{question.text}}</h3>
        {% for answer in question.answers %}
        <label><input type="radio" name="{{answer.question_id}}" value="{{answer.id}}" required>
          {{answer.text}}
        </label><br />
        {% endfor %}
        <br><br>
      {% endfor %}
      
      <!-- submit-->
      <button type="submit" id="submit" onclick="tabulateAnswers()">Create Protofilo</button>
    <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
    </form>
      <!--survey end-->
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/survey/survey.js' %}"></script>

</body>
</html>