{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Robo adviser - Home</title>

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/error-massage/error-massage.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto">
        <h1><a href="home">Robo Adviser</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="register">Start Trade</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Articels</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'articels' 'gini'%}">Gini</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <img src="{% static 'assets/img/mta.jpg' %}" alt="">
      <i class='fas fa-exclamation-triangle' style='font-size:48px;color:red'></i>
      <p class="warning_msg_003">Fuck hapoel</p>
      <br>
      {% if user.is_authenticated %}
      <h1>Hey {{user.username}},Welcome back to Robo adviser</h1>
      {% else %}
      <h1>Welcome to Robo adviser</h1>
      {% endif %}
      <h2>In a volatile stock market, low-cost financial advice and investment management can be more valuable than ever.<br>
         Robo-advisors can be an accessible way to get it:
        <br> These service build and manage an investment portfolio for you <br>for a fraction of what the typical financial advisor might charge, allowing you to be hands-off with your investments.</h2>
      <a href="register" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>What is a “Robo-Advisor”?</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/about-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <ul>
              <li><i class="bi bi-check2-circle"></i>With the help of digital systems, a computerized questionnaire is filled out and the system creates the investment profile of the investor.</li>
              <li><i class="bi bi-check2-circle"></i>These systems clarify the risk levels and investment ranges that are appropriate for the client and purchase listed products for him.</li>
              <li><i class="bi bi-check2-circle"></i>These robotic systems are designed to be a replacement for the human service provided today, by portfolio managers and investment houses.</li>
                <li><i class="bi bi-check2-circle"></i>Portfolio management is a service that competes with investment consulting and therefore in the future digital portfolio management may also compete with private investment consultants.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is the Benefits of using a consulting system ?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Low costs,Digital and Online,Small sums of money,Analysis and registration,Machine Learning Algo-Trade
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What is the Disadvantages of using a consulting system ?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Lack of experience,Lack of human factor,Limited range of investments
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Is the service free ?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                The service is free and do not require payment
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
        </div>

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="">
              <h4>Dor Wolfgor</h4>
              <span>Back-End Developer</span>
              <p>
                Dor is working in fintech company.Dor has a lot of knowledge in the field of investments
              </p>
              <div class="social">
                <a href="https://www.facebook.com/dor.wolfgur"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/dorwolfgor"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/dor-wolfgor"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" alt="">
              <h4>Or Meirchak</h4>
              <span>Full Stack Developer</span>
              <p>
                Or is Full Stack Developer.Or has a lot of knowledge in the field of Web Development
              </p>
              <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100000096716496"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/meirchak"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/or-meirchak-62a1261a5"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Contact Us</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Tel Aviv</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>orkm@mta.ac.il</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>dorwo@mta.ac.il</p>
              </div>
            </div>
          </div>
      </div>
    </section><!-- End Contact Us Section -->
  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>