{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My protofilos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/protofilocard/card.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/train-model/train-model.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="home">Robo Adviser</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="home">Home</a></li>
          <li><a class="nav-link scrollto" href="create_protfolio ">Create Protfolio</a></li>
          <li><a class="nav-link scrollto" href="protfolio_list ">{{user.username}} Protfolios</a></li>
          <li><a class="nav-link scrollto" href="algotrade">AlgoTrade</a></li>
          <li><a class="nav-link scrollto" href="logout">Log Out</a></li>
          {% if user.username == "admin" %}
          <li><a class="nav-link scrollto active" href="train_model">Train Model</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End #header -->

  <table>
   {% for algorithm in algorithms %}
    <tr>
        <td>{{algorithm.name}}</td>
        <td>Last Update : 1/1/1999</i></td>
        <td>
            <form id="train{{algorithm.id}}">
              {% csrf_token %}
            <meta name="csrf-token" content="{{ csrf_token }}" />
            <input type="hidden" name="{{algorithm.id}}" id="{{algorithm.id}}" value="{{algorithm.id}}"/>
            <input type="submit" class="submit_btn btn label-success" value="Train Model" /> 
            {% if algorithm.id == 2 %}
            <i class="fa fa-spinner fa-spin"></i>
          {% endif %}
          </form>
        </td>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <script type="text/javascript">
          var cookie = document.cookie
          var csrfToken = cookie.substring(cookie.indexOf('=') + 1)
          $(document).on('submit','#train{{algorithm.id}}',function(e){
            e.preventDefault()
            $.ajax({
             type:'POST',
             data:{algorithm_id:$('#{{algorithm.id}}').val(),},
             headers: {'X-CSRFToken': csrfToken,},
             success: function(response){} })})   
        </script>
        </tr>
        {% endfor %}
  </table>
</body>
</html>